.nav-link{
    color:white;
}
.navbar{
  
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/**
**/
.footer {
    background-color:rgba(236, 239, 246, 1);
  
    text-align: center;
    
   
  }
  .menu-footer{
      justify-content: space-around;
  }
  h1{
    text-align: center;
    color: rgba(0, 74, 173, 1);
    font-size: 30px;
    font-weight: bolder;
  }
  .lien{
      margin-right: 120px;
  }
  .logo{
      margin-left: 50px;
  }
  a{
      text-align: center;
    
      color: black;
      font-weight: medium;
      text-decoration: none;
  }
   .social-media{
       margin-right: 20px;
       cursor: pointer;
       width: 20px;
   }
   
  @media screen and (min-width: 200px) and (max-width: 640px) {
    .flex {
    flex-direction: column;
     
    }
   .social{
       margin-left: 200px;
       width: 20px;
   }
    .lien{
        margin-left: 100px;
    }
    h1{
      font-size: 20px!important; 
    }
  }
  /**
  connexion
  **/
  form {
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 30px;
    min-width: 300px;
    border: 2px solid #004AAD;
 
    box-shadow: 10px 5px 5p;
    
}
.input:focus {
    outline: none;
    box-shadow: 0px 0px 2px #0066ff;
}
  .connexion {
    display: flex;
    justify-content: center;
    flex-direction: columns;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
form .inputs input[type='email'],
input[type='password'] {
    padding: 15px;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    width:400px;
    height:40px;
    border:1px solid #004AAD;
}
form .inputs {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 550px) {
    form .inputs input[type='email'],
    input[type='password'] {
        width:250px;
        margin: auto;
        margin-top: 10px;
    }
    }




    .card {
        border: none;
       
        color: #fff;
        border-radius: 12px
    }
    
    .user-timing {
        right: 9px;
        bottom: 9px;
        color: #fff
    }
    
    .views-content {
        color: #606271
    }
    
    .views {
        font-size: 12px
    }
    
    .dots {
        display: flex;
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
        margin-left: 5px;
        margin-bottom: 6px
    }
    
    .days-ago {
        margin-top: -10px;
        color: #606271
    }
    
    .snipimage img {
        height: 200px
    }